body {
  display: grid;
  align-content: center;
}

h1 {
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: 600px;
  height: 600px;
  display: grid;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.box {
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
}

#reset {
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
}
